.dospem {
  margin-left: 250px;
  margin-top: 40px;
  padding: 20px;
}

.table__body{
  margin-top: 10px;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-input::placeholder {
  color: #000;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

.icon-cell{
  text-align: center;
}

.arrow-icon{
  color: black;
}