*{
  margin: 0;
  padding: 0;
}

.content{
  margin-left: 250px;
  margin-top: 40px;
  padding: 20px;
  background: #DBE2EF;
}

.salam {
  text-align: right;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem; 
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  text-align: justify;
}