@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.4s ease;
  --tran-06: all 0.5s ease;
}

body {
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background: #3f72af;
  padding-left: 10px;
}

.sidebar li {
  height: 50px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .text{
  font-weight: 600;
}

.sidebar li .icon,
.sidebar li .text {
  color: #f9f7f7;
  transition: var(--tran-03);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  padding-right: 4em;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
  margin: 10px 0 0 0;
}

.sidebar li a:hover {
  background: #f9f7f7;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: #3f72af;
}
